<div class="container">
<div class="prvi">
    <p>
        Turistička agencija je privatni trgovac na malo ili javna služba koja pruža usluge u vezi sa putovanjima i turizmom široj javnosti u ime dobavljača smeštaja ili putovanja kako bi ponudila različite vrste paket aranžmana za svaku destinaciju.
    </p>
</div>
<div class="drugi">
    <p>
        Turističke agencije koriste usluge velikih kompjuterskih rezervacijskih sistema, poznatih i kao globalni sistemi distribucije (GDS), uključujući: Amadeus CRS, Galileo GDS, Sabre i Vorldspan, podružnicu Travelporta, koji omogućavaju upoređivanje i sortiranje hotela i cene letova sa više kompanija. Rezervacije napravljene preko turističkih agenata, uključujući onlajn turističke agente, mogu ili ne moraju biti potvrđene odmah. Za razliku od onlajn turističkih agencija, metapretraživača i sajtova za grebanje.
    </p>
</div>
<div class="treci">
    <p>
        Turističke agencije često dobijaju provizije i druge pogodnosti i podsticaje od provajdera ili mogu da naplaćuju naknadu krajnjim korisnicima. Vlasnici hotela i turoperatori obično plaćaju višu stopu provizije turističkim agencijama, dok avio kompanije obično plaćaju nisku proviziju. Klijent obično nije obavešten o tome koliko turistički agent zarađuje od provizija i drugih beneficija. Istraživanje iz 2016. na 1.193 putničke agencije u Sjedinjenim Državama pokazalo je da je u proseku 78% njihovog prihoda bilo od provizija, a 22% od naknada.
    </p>
</div>

</div>