.container{
    width: 100.9%;
    height: 110vh;
    color: #fff;
    background-image: url("/assets/images/slika4.jpg");
    background-position: center;
    background-size: cover;
    margin-left: -10px;
    padding-top: 50px;
   
}


.prvi{
    color: black;
    width: 1800px;
    height: 300px;
    margin-left: 20px;
    font-family: 'Silkscreen', cursive;
    background: rgb(127, 255, 0, 0.4);
}

.drugi{
    color: gray;
    width: 1800px;
    height: 300px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Silkscreen', cursive;
    background: rgb(127, 255, 0, 0.4);
}

.treci{
    color: white;
    width: 1800px;
    height: 300px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Silkscreen', cursive;
    background: rgb(127, 255, 0, 0.4);
}

 p{
    font-size: x-large;
    padding: 30px;
    letter-spacing: 1px;
    line-height: 30px;
 }
