button {
    font-size: 1.3rem;
    padding: 13px 23px;
    border-radius: 0;
	background-color: yellowgreen;
    border-radius: 30px;
    color: black;
	margin-top: 25px;
    margin-right: 20px;
}

.container{
    width: 100.9%;
    height: 100vh;
    color: #fff;
    background-image: url("/assets/images/slika5.jpg");
    background-position: center;
    background-size: cover;
    margin-left: -10px;
   
}